.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.button{
  /* display: flex;
  flex-direction: row; */
  
  /* justify-content: space-around; */
  font-size: calc(10px +2vmin);
}
.value{
  font-size: 40px;
  padding: 20px;
}